* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #696A86;
}

.container {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}